:root{
    --cor-principal: #e3e284bd;
    
    --cinza-segundario: #C0C0C0;

    --botao-azul: #167BF7;

    --botao-2: #5b6777;

    --cor-de-fundo: #00030C;

    --fonte-principal: 'Embed code'
    

}
body{
    background-color: var(--cor-de-fundo);

    color: var(--cor-principal);

    font-family: var(--fonte-principal);

font-size: 16px;

font-weight: 400;
    

}

.principal{
    background-image: url("image\ 12.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;

    
}


.container{
    height: 150vh;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    margin-bottom: 0.2em;

}





.container_botao1{
    
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cinza-segundario);
    display: block;
   text-decoration: none; 

}
.container_botao2{
    
    background-color: var(--botao-2);
    border-radius: 5px;
    padding: 1em;
    color: var(--cinza-segundario);
    display: block;
   text-decoration: none; 
 

}
.container__aviso{
    font-size: 14px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}
.container__div{
    margin: 0 6em;
}


.descricao_texto{
    text-align: end;
}
.segundario_image{
    width: 80%;
    

}
.segundario{
    align-items: center;
    margin: 0 10em;
    
}
.descricao_titulo{
    font-weight: 700;
    font-size: 480x;
    


}
